
/*	-----------------------------------------------

	reset and rebuild base html elements

	----------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
b, i, u, hr, center,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
}

/*html, body {height: 100%;}*/

body {
	color: #010101;
	font-family: Arial, Verdana, sans-serif;
	/* font-family: Georgia, Times, serif; */
	font-size: 62.5%; /* 62.5% squashes default type to 10px, multiplier is set on #wrapper */
	line-height: 1.2;
	background: #efefef;
}
div#wrapper {
	font-size: 1.2em; /* 62.5% x 1.2em = 12px base font size */
	/*font-size: 1.3em;*/ /* 62.5% x 1.3em = 13px base font size */
}

/*:focus {
	outline: 1px dotted #464646;
}*/

code, pre {
	font-family: monospace;
	font-size: 12px;
	line-height: 12px;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}
	em em {font-style: normal;}

a, a:link, a:visited {
	color: #900;
	text-decoration: none;
	-webkit-transition: color .2s, background-color .2s;
	-moz-transition: color .2s, background-color .2s;
	-o-transition: color .2s, background-color .2s;
	transition: color .2s, background-color .2s;
}
a:focus, a:hover, a:visited:hover, a:active {
	color: #c00;
	text-decoration: underline;
}

p, ul, ol, dl, table, address {
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 18px 0;
}
    li {
	    margin: 0 0 8px 20px;
    }
	dt {
		font-weight: bold;
		margin: 0 0 2px 0;
	}
	dd {
		margin: 0 0 8px 0;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
    th {
	    font-weight: bold;
	    text-align: left;
	    vertical-align: bottom;
    }
    td {
	    vertical-align: top;
    }

h1 {
	color: #464646;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 36px;
	margin: 0 0 18px 0;
}
h2, .h2 {
	color: #464646;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px 0;
}
h3, .h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	margin: 0 0 8px 0;
}
h4, .h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 6px 0;
}
h5, .h5 {
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 4px 0;
}
h6, .h6 {
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
	margin: 0 0 2px 0;
}

sup {
	font-size: 10px;
	margin-left: 0.05em;
	position: relative;
	top: -0.5em;
}
sub {
	font-size: 10px;
	margin-left: 0.05em;
	position: relative;
	bottom: -0.2em;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote {
	/* note: must not leave any whitespace at the beginning of a blockquote in markup - Safari will render it  */
	color: #a2a2a2;
	font-size: 20px;
	font-family: Georgia, Times, serif;
	font-weight: normal;
	line-height: 24px;
	text-indent: -0.4em; /* negative indent brings the opening quote into the left padding */
	margin: 0 0 24px 0;
	padding: 0 20px;
}
