
/*	-----------------------------------------------

	global layout

	----------------------------------------------- */

#wrapper {
	width: 100%;
	min-width: 960px;
	/*
	height: 100%;
	min-height: 100%;
	*/
	margin: 0 auto;
	position: relative;
}

	div.skipnav {
		position: absolute;
		left: -999999px;
	}


/**
*	header
**/

#header {
	width: 100%;
	background: #dedede;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}
	#header .header-inner {
		width: 960px;
		height: 80px;
		background: #cdcdcd;
		margin: 0 auto;
		padding: 20px;
		position: relative;
	}

/*** /header ***/


/**
*	footer
**/

#footer {
	width: 100%;
	background: #dedede;
	position: relative;
	z-index: 2;
}
	#footer .footer-inner {
		width: 960px;
		height: 80px;
		background: #cdcdcd;
		margin: 0 auto;
		padding: 20px;
		position: relative;
	}

/*** /footer ***/


/**
*	main
**/

#main {
	width: 960px;
	min-height: calc(100vh - 80px);
	background: #dedede;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
	#main .main-inner {
		width: 960px;
		padding: 20px;
		padding-top: 100px; /* must be equal to header height + desired padding-top */
		position: relative;
	}

	#content {
		min-height: 640px;
		background: #fff;
		padding: 20px;
		position: relative;
	}
	#subcol {
		min-height: 640px;
		background: #fff;
		padding: 20px;
		position: relative;
	}

	#main.fullwidth #content {
		width: 920px;
	}

	#main.twocols #content {
		float: left;
		width: 660px;
	}
	#main.twocols #subcol {
		float: right;
		width: 240px;
	}

/*** /main ***/


/**
*	misc
**/

/* popups */

body.popup {
	color: #333;
	background: #fff;
}
	body.popup div#wrapper {
		width: auto; /* reset default */
		min-height: 0px; /* reset default */
		margin: 0;
		position: relative;
	}
	body.popup div#content {
		width: auto; /* reset default */
		min-height: 0px; /* reset default */
		margin: 0;
		position: relative;
		float: none;
		display: block;
	}
	body.popup div.head {
		padding: 2px 10px;
		background: #ccc;
		height: 1.5em;
	}
		body.popup div.head a.lnk-close {
			float: right;
			display: inline;
			color: #000;
			font-size: 0.910em;
			line-height: 1.5em;
			text-decoration: none;
		}
			body.popup div.head a.lnk-close span {
				color: #fff;
				font-weight: bold;
			}
	/* 
	body.popup div.foot {
		padding: 2px 10px;
		background: #ccc;
		height: 1.5em;
	} */
	body.popup div.inner {
		padding: 2px 10px;
		/* border: 2px solid #ccc; */
		background: #fff;
		color: #666;
	}

/* /popups */

/*** /misc ***/
