
/*	-----------------------------------------------

	iOS

	----------------------------------------------- */


/**
*	iPhone
**/

@media only screen and (max-width: 480px) {

	#wrapper {
		min-width: 320px;
		max-width: 480px;
	}
		#header .header-inner,
		#footer .footer-inner,
		#main .main-inner {
			width: 280px;
		}
		#main #content {
			width: 280px;
		}
		#main .twocols #content,
		#main .twocols #subcol {
			float: none;
			width: 280px;
		}

}

/*** /iPhone ***/


/**
*	iPad - Portrait
**/

@media only screen and (max-width: 768px) {

	#wrapper {
		min-width: 480px;
		max-width: 720px;
	}
		#main {
			width: 720px;
		}
		#header .header-inner,
		#footer .footer-inner,
		#main .main-inner {
			width: 720px;
		}
		#main.twocols #content {
			width: 440px;
		}
		#main.twocols #subcol {
			width: 220px;
		}

}

/*** /iPad ***/


/**
*	iPad - Landscape
**/

@media only screen and (max-width: 1024px) {

	#wrapper {
		min-width: 720px;
		max-width: 960px;
	}
		#main {
			width: 720px;
		}
		#header .header-inner,
		#footer .footer-inner,
		#main .main-inner {
			width: 720px;
		}
		#main.twocols #content {
			width: 440px;
		}
		#main.twocols #subcol {
			width: 220px;
		}

}

/*** /iPad ***/
