
/*	-----------------------------------------------

	iOS

	----------------------------------------------- */


/**
*	iPad - Landscape
**/

@media only screen and (max-width: 1024px) {

	#wrapper {
		min-width: 720px;
	}
	#header .header-inner,
	#footer .footer-inner,
	#main .main-inner {
		width: 720px;
	}
	#main #content {
		width: 680px;
	}
	#main.twocols #content {
		width: 440px;
	}
	#main.twocols #subcol {
		width: 220px;
	}

}

/*** /iPad ***/


/**
*	iPad - Portrait
**/

@media only screen and (max-width: 768px) {

	#wrapper {
		min-width: 480px;
	}
	#header .header-inner,
	#footer .footer-inner,
	#main .main-inner {
		width: 480px;
	}
	#main #content {
		width: 440px;
	}
	#main.twocols #content,
	#main.twocols #subcol {
		float: none;
		width: 440px;
	}

}

/*** /iPad ***/


/**
*	iPhone
**/

@media only screen and (max-width: 480px) {

	#wrapper {
		min-width: 320px;
	}
	#header .header-inner,
	#footer .footer-inner,
	#main .main-inner {
		width: 320px;
	}
	#main #content {
		width: 280px;
	}
	#main.twocols #content,
	#main.twocols #subcol {
		float: none;
		width: 280px;
	}

}

/*** /iPhone ***/

